html {
  box-sizing: border-box;
  margin: auto;
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  background: #1b1b1b;
  background-size: stretch;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2vw;
  font-weight: bold;
  color: #cecece;
  text-shadow: 0px 0px 15px #870939;
  margin: -10px;
  
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  margin: 0px;
}

.title {
  display: flex;
  justify-content: center;
  flex: 4, 4, 10em;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  margin: -5px;
  flex: 1, 1, 10em;
}

.bar-meta {
  display: flex;
  justify-content: center;
}

.bar {
  display: flex;
  justify-content: center;
  width: 50%;
  min-width: 400px;
  background-color: rgba(135,9,57,0.35);
  border-radius: 5px;
}

ul {
  display:flex;
  justify-content: center;
  margin: 0px;
}

li {
  display: flex;
  justify-content: space-around;
  margin: 0 5%;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  opacity: 0.7;
}

li:hover {
  font-weight: bold;
  opacity: 1;
  cursor: not-allowed;
  
  text-shadow: 0px 0px 4px #cecece;
}

.main-meta {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: rgba(139,09,57,0.5);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #f4f4f9;
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: #cecece;
}

a:hover { font-weight:bold;
opacity:1;
cursor: not-allowed;}

#maintext {
  font-family: 'Cormorant Garamond', serif;
  color: #cecece;
  flex-grow: 3;
}

#mainimage {
  flex-grow: 1;
}
